html {
  font-size: 14px;
}


.header {
    z-index: 1000; /* Чтобы шапка была сверху всех элементов */
    width: 100%;
}

.logo a {
    display: flex;
    align-items: baseline;
}

/* Отступы для иконок */
.header-actions a {
    padding: 0.25rem;
    border-radius: 50%;
    transition: color 0.2s ease;
}

.header-actions a:hover {
    color: #007bff;
}

/* Стили для бейджей (количество товаров) */
.badge {
    font-size: 0.6rem;
    min-width: 1.2rem;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease, transform 0.2s ease;
    opacity: 1;
}

.badge:hover {
    transform: scale(1.1);
}

.badge.hidden {
    opacity: 0;
    transform: scale(0.8);
}

.form-label {
    color: white;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url(/img/i.webp);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 100px 0px;
}

.header-logo {
    height: 50px;
}

.item.row {
    background-color: white;
    border-radius: 10px;
    padding: 2%;
}

button:focus,
button:active,
select:focus,
select:active{
    outline: none !important;
    box-shadow: none !important;
}

.navbar {
    background: -webkit-linear-gradient(225deg, rgb(46, 48, 49), rgb(44, 46, 46) 100%);
    background: -moz-linear-gradient(225deg, rgb(46, 48, 49), rgb(44, 46, 46) 100%);
    background: linear-gradient(225deg, rgb(46, 48, 49), rgb(44, 46, 46) 100%);
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .hero-background {
        background-attachment: scroll;
        min-height: auto;
    }
}