@model List<Product>
@{
    ViewData["Title"] = $"Добавление товара";
}
<div class="card mb-5">
    <div class="card-header bg-primary text-white">
        <h5 class="card-title mb-0">Добавление товара</h5>
    </div>

    <form method="post" class="p-3" onsubmit="showEditProfile()">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="Id" class="form-label">Артикул</label>
                        <input type="text" id="newid-disabled" class="form-control" value="">
                        <input type="hidden" id="newid" name="id" value="" />
                    </div>

                    <div class="mb-3">
                        <label for="Brand" class="form-label">Бренд</label>
                        <input id="newbrand" type="text" class="form-control" name="brand" placeholder="">
                    </div>

                    <div class="mb-3">
                        <label for="Model" class="form-label">Модель</label>
                        <input id="newmodel" type="text" class="form-control" name="model" placeholder="">
                    </div>

                    <div class="mb-3">
                        <label for="Category" class="form-label">Категория</label>
                        <select id="newcategory" class="form-select" name="category" onchange="updateContent()">
                            <option value="">Выберите категорию</option>
                            @foreach (var category in ViewBag.Categories)
                            {
                                <option value="@category"
                                        selected="@(Context.Request.Query["selectedCategory"] == category)">
                                    @category
                                </option>
                            }
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="Price" class="form-label">Цена</label>
                        <input id="newprice" type="text" class="form-control" name="price" placeholder="">
                    </div>

                    <div id="variableFields"></div>
                </div>

                <div class="col-md-6">
                    <label for="Image" class="form-label">Изображение</label>
                    <div class="form-control position-relative d-flex justify-content-center align-items-center mb-3">
                        <img src="/img/default.png"
                             alt="Новое изображение"
                             id="details-img"
                             style="object-fit: contain; max-height: 300px;">
                        @*                         else
                        {
                            <div class="bg-light text-muted d-flex justify-content-center align-items-center"
                                 style="height: 500px; border-radius: 0.375rem;">
                                Изображение отсутствует
                            </div>
                        } *@
                    </div>
                    <div class="mb-3">
                        <label for="Description" class="form-label">Описание</label>
                        <textarea class="form-control" id="newdescription" name="description" rows="10" required style="resize: none;"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="actions d-flex justify-content-between">
            <div class="d-flex gap-2 mb-3">
                <button id="btn-newProduct"
                        class="btn btn-group-sm btn-primary">
                    <i class="bi bi-check2-square"></i> Добавить
                </button>
                <button class="btn btn-group-sm btn-danger" type="button" onclick="clearFields()">
                    <i class="bi bi-eraser"></i> Очистить
                </button>
            </div>
        </div>
    </form>
</div>
